@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* Animación mejorada para los puntos de datos */
@keyframes movePoint {
  0% { 
    left: 160px; 
    top: 118px; 
    opacity: 1; 
  }
  50% { 
    left: 50%; 
    transform: translateX(-50%);
    top: 118px; 
    opacity: 1; 
  }
  100% { 
    left: calc(100% - 160px); 
    top: 118px; 
    opacity: 0; 
  }
}

.animate-movePoint {
  animation: movePoint 2s linear;
  position: absolute;
}
